.wrapper {
    position: relative;
}

.placeholder {
    color: var(--text-tertiary);
}

.arrow {
    position: absolute;
    right: 16px;
    top: 15px;
    cursor: pointer;
    pointer-events: none;
}

.rotate {
    transform: rotate(180deg);
}