.wrapper {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
}