.button {
  border: 0;
  cursor: pointer;
  background-color: var(--orange);
  color: #ffffff;
  line-height: 0;
  font-weight: 500;
}

.button:hover {
  background-color: var(--orange-hover);
}

.outline {
  background-color: transparent;
  border: 1px solid var(--orange);
  color: var(--orange);
}

.outline:hover {
  background-color: transparent;
  border: 1px solid var(--orange-hover);
}

.button:disabled {
  background-color: #ffa375;
  cursor: default;
}

.buttonSmall {
  padding: 4px;
  width: 20px;
  height: 20px;
}
