.film {
    display: flex;
}

.wrapper {
    width: 100%;
}

.titleGroup {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.detail {
    margin-top: 16px;
    font-weight: 500;
}

.detail:first-child {
    margin-top: 0;
}

.posterWrapper {
    width: 400px;
    height: 500px;
}

.poster {
    object-fit: cover;
}