.header {
    background-color: var(--gray-1);
    color: #fff;
    padding: 24px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

.title {
    color: #fff;
}

.cart {
    display: flex;
    align-items: center;
    color: #fff;
}

.count {
    background-color: var(--orange);
    height: 20px;
    min-width: 20px;
    line-height: 20px;
    padding: 4px;
    text-align: center;
    box-sizing: content-box;
}

.basket {
    margin-left: 8px;
}