.main {
    /* высота страницы - высота шапки - высота подвала - внутренние отступы страницы */
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - 48px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
